In [1]:
import plotly.graph_objects as go

import pandas as pd

In [2]:
df=pd.read_csv('../data/cities_projects.csv',  encoding='utf-8', delimiter=',')

In [3]:
if len(df) > 160:
    df=df.drop(index=(160), columns=('index'))

df['proj_number']=[int(value) for ind, value in df['proj_number'].iteritems()]
df

                 city  proj_number  country
0              Aachen            1  Germany
1              Aarhus            1  Denmark
2             Ajaccio            1   France
3         Alessandria            1    Italy
4            Alingsås            1   Sweden
..                ...          ...      ...
155        Weilerbach            1  Germany
156  Weiz / Gleisdorf            1  Austria
157           Zagorje            1  Croatia
158          Zaragoza            2    Spain
159              Zlín            1  Czechia

[160 rows x 3 columns]

In [ ]:
import pycountry

def get_iso_alpha (country_name):
    country = pycountry.countries.get(name=country_name) 
    return (country.alpha_3)

In [11]:
df['iso_alpha']=[get_iso_alpha(str(value)) for index, value in df['country'].iteritems()]

In [12]:
df

                 city  proj_number  country iso_alpha
0              Aachen            1  Germany       DEU
1              Aarhus            1  Denmark       DNK
2             Ajaccio            1   France       FRA
3         Alessandria            1    Italy       ITA
4            Alingsås            1   Sweden       SWE
..                ...          ...      ...       ...
155        Weilerbach            1  Germany       DEU
156  Weiz / Gleisdorf            1  Austria       AUT
157           Zagorje            1  Croatia       HRV
158          Zaragoza            2    Spain       ESP
159              Zlín            1  Czechia       CZE

[160 rows x 4 columns]

In [4]:
df_pivot=df.pivot_table(index=['country'],
                        values=['proj_number'],
                        aggfunc=['sum'])

In [5]:
df

                 city  proj_number  country
0              Aachen            1  Germany
1              Aarhus            1  Denmark
2             Ajaccio            1   France
3         Alessandria            1    Italy
4            Alingsås            1   Sweden
..                ...          ...      ...
155        Weilerbach            1  Germany
156  Weiz / Gleisdorf            1  Austria
157           Zagorje            1  Croatia
158          Zaragoza            2    Spain
159              Zlín            1  Czechia

[160 rows x 3 columns]

In [6]:
import pycountry

def get_iso_alpha (country_name):
    country = pycountry.countries.get(name=country_name) 
    return (country.alpha_3)

In [9]:
df_pivot['iso_alpha']=[get_iso_alpha(str(index)) for index, value in df_pivot.iterrows()]

In [10]:
df_pivot

                       sum iso_alpha
               proj_number
country
Austria                 10       AUT
Belgium                  2       BEL
Brazil                   1       BRA
Bulgaria                 3       BGR
Croatia                  2       HRV
Czechia                  1       CZE
Denmark                  9       DNK
Estonia                  3       EST
Finland                 12       FIN
France                  17       FRA
Germany                 17       DEU
Hungary                  5       HUN
Ireland                  4       IRL
Italy                   15       ITA
Latvia                   2       LVA
Lithuania                1       LTU
Netherlands             19       NLD
Norway                   5       NOR
Poland                   2       POL
Portugal                 2       PRT
Romania                  1       ROU
Serbia                   1       SRB
Slovakia                 2       SVK
Slovenia                 2       SVN
Spain                   30       ESP
Sweden                  17       SWE
Switzerland              4       CHE
Turkey                   6       TUR
United Kingdom          13       GBR

In [30]:
import plotly.express as px
#df = px.data.gapminder().query("year==2007")
fig = px.scatter_geo(df_pivot, locations="iso_alpha", text=df_pivot['sum'],
                     projection="natural earth")
fig.update_layout(
        title_text = 'test',
        geo = dict(
            scope = 'europe',
            landcolor = 'rgb(217, 217, 217)',
        )
    )
fig.show()

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
fig.show()

geo = go.layout.Geo(
    resolution = 50,
    scope = 'europe',
    showframe = False,
    showcoastlines = True,
    landcolor = "rgb(229, 229, 229)",
    countrycolor = "white" ,
    coastlinecolor = "white",
    projection_type = 'mercator',
    ),

In [14]:
iso= px.data.gapminder()
print(df['iso_alpha'].where(df['country']=='Finland'))

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
155    NaN
156    NaN
157    NaN
158    NaN
159    NaN
Name: iso_alpha, Length: 160, dtype: object

In [15]:
iso

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [ ]:
df.head()