In [1]:
import pandas as pd

In [ ]:
#pip install geopy

### Simple parsing of html piece of code to collect a name of cities and number of projects

In [ ]:
'''
#Simple parser to 
dict={}
with open('../data/text.txt', encoding="utf-8") as file:
    for line in file:
        subline= line.split('<', 2)
        number= subline[0].replace(' ','') #delete all whitespaces
        number=[char for char in number]#take only number
        number=int(number[1])
        city=subline[2].split('>',1)
        city=city[1].rstrip('\n')
        if city not in dict.keys(): 
            city=city[1:]#remove whitespace
            dict[city]=number
        else:
            print('error!')
'''

In [ ]:
''' 
df=pd.DataFrame(dict.items())
df=df.rename(columns={0:'city',1:'proj_number'})
'''

### Assing geodata (Country, lat and lon knowing the name of the city)

In [2]:
df=pd.read_csv('../data/cities_projects.csv',  encoding='utf-8', delimiter=';')
df

                 city  proj_number  country
0              Aachen            1  Germany
1              Aarhus            1  Denmark
2             Ajaccio            1   France
3         Alessandria            1    Italy
4            Alingsås            1   Sweden
..                ...          ...      ...
155        Weilerbach            1  Germany
156  Weiz / Gleisdorf            1  Austria
157           Zagorje            1  Croatia
158          Zaragoza            2    Spain
159              Zlín            1  Czechia

[160 rows x 3 columns]

In [3]:
def geoloc (city, check):
    if check=='location_info':
        location= geolocator.geocode(city, addressdetails=True, language='en')
        #location=str(location[0])
    if check=='lon':
        location=city.longitude
    if check=='lat':
        location=city.latitude
    if check=='country':
        string = str(city)
        location = string.split(',')
        location = location[-1]
        #location=str(location[0])
        location=location[1:]
    return (location)

In [4]:
from geopy.geocoders import Nominatim
#geolocator = Nominatim(user_agent = "geoapiExercises")
geolocator = Nominatim(user_agent="GetLoc")

In [5]:
df['location_info']=[geoloc(row, 'location_info') for index, row in df['city'].iteritems()]
df['country1']=[geoloc(row, 'country') for index, row in df['location_info'].iteritems()]

In [6]:
df['latitude'] = [geoloc(row, 'lat') for index, row in df['location_info'].iteritems()]
df['longitude'] = [geoloc(row, 'lon') for index, row in df['location_info'].iteritems()]

In [7]:
df.head(2)

,city,proj_number,country,location_info,country1,latitude,longitude
0,Aachen,1,Germany,"(Aachen, Städteregion Aachen, North Rhine-West...",Germany,50.776351,6.083862
1,Aarhus,1,Denmark,"(Aarhus, Aarhus Municipality, Central Denmark ...",Denmark,56.149628,10.213405

In [8]:
df.to_csv('../data/cities_location.csv')

### BIN

def geoloc (city, check):
    if check is True:
        location= geolocator.geocode(city, addressdetails=True, language='en')
        #location=str(location[0])
    if check is False:
        string = str(city)
        location = string.split(',')
        location = location[-1]
        #location=str(location[0])
        location=location[1:]
    return (location)
#print(“Latitude : “,getLocation.latitude)
#print(“Longitude : “,getLocation.longitude)

df['location_info']=[geoloc(row, True) for index, row in df['city'].iteritems()]
df['country1']=[geoloc(row, False) for index, row in df['location_info'].iteritems()]
df['latitude'] =[getLocation.longitude for index, row in df['location_info'].iteritems()]
df['latitude'] = df.location_info.apply(lambda x: x.raw['lat'])
df['longitude'] = df.location_info.apply(lambda x: x.raw['lon'])