In [2]:
dict={}
with open('../data/text.txt', encoding="utf-8") as file:
    for line in file:
        subline= line.split('<', 2)
        number= subline[0].replace(' ','') #delete all whitespaces
        number=[char for char in number]#take only number
        number=int(number[1])
        city=subline[2].split('>',1)
        city=city[1].rstrip('\n')
        if city not in dict.keys(): 
            city=city[1:]#remove whitespace
            dict[city]=number
        else:
            print('error!')

In [3]:
import pandas as pd
df=pd.DataFrame(dict.items())
df=df.rename(columns={0:'city',1:'proj_number'})

In [4]:
df.head(2)

     city  proj_number
0  Aachen            1
1  Aarhus            1

In [5]:
def geoloc (city):
    location= geolocator.geocode(city, language='en')
    location=str(location[0])
    location = location.split(',')
    location = location[-1]
    return (location[1:])

In [6]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent = "geoapiExercises")

df['country']=[geoloc(row) for index, row in df['city'].iteritems()]

In [7]:
df.head(2)

     city  proj_number  country
0  Aachen            1  Germany
1  Aarhus            1  Denmark

In [6]:
df.to_csv('table.csv')